body {
    background-color: #4b4b4b;
}

.search {
    width: 42em;
    margin: auto;
}

.s-form {
    display: flex;
    justify-content: space-between;
    border-radius: 1em;
    border: 2px solid #404040;
    font-size: 12pt;
    color: #d4d4d4;
}

.s-form:hover {
    box-shadow: -2px 2px 3px 2px #e5e91b;
}

.s-form:focus-within {
    box-shadow: -1.5px 1.5px 3px 2px #1bc0e9;
}

.s-bar {
    display: block;
    border-radius: inherit;
    width: 100%;
}

.s-bar-part {
    all: unset;
    border-radius: inherit;
    height: 2em;
    color: #cccccc;
}

input[type="search"] {
    background-color: #3a637e;
    width: 100%;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    text-indent: 1.5em;
}

input[type="search"]:focus {
    color: #f5f5f5;
}

input[type="submit"] {
    width: 8em;
    text-align: center;
    cursor: pointer;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    background-color: #3e52ff;
}

input[type="submit"]:hover {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    background-color: #339157;
    color: black;
}

.eng-form {
    width: 60%;
    margin: auto;
}

.eng-fields {
    border-radius: 10px;
    box-shadow: -1px 3px 6px 3px #2d4885;
}

.eng-leg {
    color: #d1750c;
    margin-bottom: 1em;
}

.eng-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 3em;
}

.eng-item {
    margin-top: 1em;
    margin-bottom: 1em;
    height: 2.75em;
    width: 42%;
    position: relative;
}

.eng-item label {
    width: 100%;
    height: 100%;
    margin: 0;
    display: inline-block;
    text-indent: 2em;
    cursor: pointer;
    font-size: 18px;
    background-color: #353535;
    border-radius: 7px;
    color: white;
    transition: background-color 2s, box-shadow 0.5s;
}

.eng-item label:hover {
    background-color: #00f0f0;
    box-shadow: -2px 3px 4px 3px gold;
    color: orangered;
}

.eng-opt:checked+label {
    background-color: #005b00;
    font-weight: bold;
}

/* Hide default button */
.eng-opt {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.a-eng {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.a-eng:checked {
    background-color: white;
}

.fa-caret-right {
    position: absolute;
    left: -0.7em;
    color: #a00000;
    text-shadow: -1px 1px 2px black;
    opacity: 0;
    transition: margin-left 3s ease-in-out 1s, opacity 1s;
}

.eng-opt:checked+label i {
    opacity: unset;
}
