body {
    background-color: #043a4d;
}

.l-div {
    max-width: 65%;
    margin: auto;
    padding: 0.5em;
    border-radius: 1.5em;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #5762a0;
    box-shadow: -4px 5px 7px 3px #7669a5;
    font-size: 34px;
    border: 2px outset #888888;
}

.li-div {
    height: 180px;
    width: 180px;
    margin: 0.5em;
    text-align: justify;
    border-radius: inherit;
    background-color: #445e63;
    box-shadow: -4px 5px 7px 3px #8b8b53;
}

.li-div:hover {
    background-color: #416b6e;
    box-shadow: -2px 3px 4px 3px #a17644;
}

.li-div a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-shadow: -2px 2px 3px black;
}

a:any-link {
    text-decoration: none;
    cursor: pointer;
}

.fa-github {
    color: Silver;
}

.nflx-text {
    text-align: center;
    color: FireBrick;
    font-size: 5em;
    font-weight: bold;
}

.fa-amazon {
    color: DarkGoldenRod;
}

.fa-envelope-open {
    color: Aqua;
}

.fa-youtube {
    color: DarkRed;
}

.search {
    width: 42em;
    margin: auto;
}

.s-form {
    display: flex;
    justify-content: space-between;
    border-radius: 1em;
    border: 2px solid #404040;
    font-size: 12pt;
    color: #d4d4d4;
}

.s-form:hover {
    box-shadow: -3px 3px 3px 2px #d0af84;
}

.s-form:focus-within {
    box-shadow: -1.5px 1.5px 1.5px 1px #cdc733;
}

.s-bar {
    display: block;
    border-radius: inherit;
    width: 100%;
}

.s-bar-part {
    all: unset;
    border-radius: inherit;
    height: 2em;
    color: #cccccc;
}

input[type="search"] {
    background-color: #3a637e;
    width: 100%;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    text-indent: 1.5em;
}

input[type="search"]:focus {
    color: #f5f5f5;
}

input[type="submit"] {
    width: 8em;
    text-align: center;
    cursor: pointer;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    background-color: #2937af;
}

input[type="submit"]:hover {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    background-color: #339157;
    color: black;
}

.eng-form {
    width: 60%;
    margin: auto;
}

.eng-fields {
    border-radius: 10px;
    background-color: #30645d;
    box-shadow: -1px 3px 6px 3px #6f8039;
}

.eng-leg {
    color: #d39522;
    background-color: #674396;
    padding: 0.5em;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border-left: 2px solid #ffc2b4;
    border-right: 2px solid #ffc2b4;
    border-top: 2px dashed #ffc2b4;
    margin-bottom: 1em;
    box-shadow: 0 2px 3px 2px #222222;
}

.eng-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 3em;
}

.eng-item {
    margin-top: 1em;
    margin-bottom: 1em;
    height: 2.75em;
    width: 42%;
    position: relative;
}

.eng-item label {
    width: 100%;
    height: 100%;
    margin: 0;
    display: inline-block;
    text-indent: 2em;
    cursor: pointer;
    font-size: 18px;
    background-color: #3476a5;
    border-radius: 7px;
    color: #f0ebcc;
    box-shadow: -1px 1px 3px 3px #325288;
    transition: background-color 1s, box-shadow 0.5s;
}

.eng-item label:hover {
    background-color: #4154bb;
    box-shadow: -1px 3px 5px 2px #f5f7b2;
    color: #eeeeee;
}

.eng-opt:checked+label {
    background-color: #77acf1;
    color: #72241e;
    font-weight: bold;
}

/* Hide default button */
.eng-opt {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.a-eng {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.fa-caret-right {
    position: absolute;
    left: -0.7em;
    color: #a00000;
    text-shadow: -1px 1px 2px black;
    opacity: 0;
    transition: opacity 1s;
}

.eng-opt:checked+label i {
    opacity: unset;
}
